{% load static %}

<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 40px;
        background-color: #f9f9f9;
    }
    .ingredient-list {
        list-style: none;
        padding: 0;
        display:flex;
        flex-wrap: wrap;
    }
    .ingredient-item {
        display: flex;
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 10px;
        border-radius: 8px;
        width:70px;
        height:70px;
        margin:10px;
        align-items: center;     
        justify-content: center; 
        text-align: center;
    }
    .ingredient-item a {
        text-decoration: none;
        color: #007BFF;
        font-weight: bold;
    }
    .meta {
        font-size: 0.9em;
        color: #666;
        margin-top: 5px;
    }
</style>

<a href="{%url 'mypage:mypage'%}"><h2>My Page</h2></a>
<div style = "width : 2000px; height:2000px; display:flex;">
    <div>
        <a href="#"><div style = "width : 400px; height:200px; border:1px solid black;">알레르기</div></a>
        <div style = "width : 1000px; height:500px;display:flex;">
            <div style = "width : 400px; height:500px; border:1px solid black;">
                <ul class="ingredient-list">
                {% for ingredient in ingredients %}
                    <a href="{%url 'mypage:ing_detail' ing_id=ingredient.id %}"><li class="ingredient-item">
                        <img src="{% static ingredient.icon %}" alt="아이콘" style="width:50px;height:50px;">
                    </li></a>
                {% empty %}
                    <li>재료가 없습니다.</li>
                {% endfor %}
                    <a href="{%url 'mypage:ing_add'%}"><li style="text-align:center; content-justify:center;" class="ingredient-item">추가하기</li></a>
                </ul>
            </div></a>
            <div style = "width : 400px; height:500px; border:1px solid black; ">
                <a href="{%url 'mypage:scrap'%}"><div style = "width : 400px; height:250px; border:1px solid black; align-content:center;"><h2 style="text-align:center;">스크랩</h2></div></a>
                <a href="#"><div style = "width : 400px; height:250px; border:1px solid black;">좋아요</div></a>
            </div>
        </div>
    </div>
    {% comment %} 여기 아래는 재료 추가 폼 {% endcomment %}
    <form method="POST" style = "width : 400px; height:400px; border:1px solid black;">
        {% csrf_token %}
        <div class="icon-form" style="display:flex;">
            <div class="icon-option">
                <label for="meat"><img src="{% static "img\재료아이콘\고기테스트.png" %}" alt="고기" style="width:100px;height:100px;"></label><br>
                <input type="radio" name="icon" id="meat" value="meat">
            </div>

            <div class="icon-option">
                <label for="vegetable"><img src="{% static "img\재료아이콘\채소테스트.png" %}" alt="채소" style="width:100px;height:100px;"></label><br>
                <input type="radio" name="icon" id="vegetable" value="vegetable">
            </div>

            <div class="icon-option">
                <label for="fruit"><img src="{% static "img\재료아이콘\과일테스트.png" %}" alt="과일" style="width:100px;height:100px;"></label><br>
                <input type="radio" name="icon" id="fruit" value="fruit">
            </div>

            <div class="icon-option">
                <label for="sauce"><img src="{% static "img\재료아이콘\소스테스트.png" %}" alt="소스" style="width:100px;height:100px;"></label><br>
                <input type="radio" name="icon" id="sauce" value="sauce">
            </div>
        </div>
        <p> 재료 이름 : {{form.name}} </p><br>
        <p> 재료량 : {{form.amounts}} &nbsp;&nbsp;&nbsp; 단위 : {{form.unit}} </p>
        <p> <br>
        <p> 유통기한 : <input type='datetime-local' name='expiration_date'> </p><br>

        <button type='submit'>저장</button>
    </form>
</div>