<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipe_write</title>
</head>


<body>
    <div class="recipe-form">
        <h1>레시피 작성</h1> <br><br>
        <form method="POST" enctype="multipart/form-data" action="{%url 'recipe:recipe_write'%}">
            {% csrf_token %}
            <div class="form-group">
                <label for="recipe-title">레시피 이름</label>
                {{ form.recipe_title }}
            </div> <br>
            <div class="form-group">
                <label for="recipe-image">대표 이미지</label>
                <input type="file" name="recipe_image" id="id_image" required>
            </div> <br>
            <div class="form-group">
                <label for="recipe-content">만드는 방법</label>
                {{ form.recipe_content }}
            </div> <br>
            <div class="form-group">
                <button type="submit">완성!</button>
            </div>
        </form>
    </div>
</body>

</html>
